{% extends "event/base.html" %}
{% block usuario %}{{ session['user'] }}{% endblock %}
{% block content %}    
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
    {% for category, msg in messages %}
      <div class="alert alert-{{category}}" role="alert">
        <p>{{msg}}</p>
      </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="card">
    <div class="card-header">
      <img src="/static/images/gift_box.jpeg" alt="image gift" height="35"><span style="font-size: larger;font-weight: bolder;">Premio selecctionado </span>
    </div>    
    <div class="card-body">      
      <p class="card-text"><b>Premio</b>: {{data['gift']}}</p>
      <p class="card-text"><b>Descripcion</b>: {{data['description']}}</p>
      <p class="card-text"><b>Código verificación</b>: {{data['alias']}}</p>
      <p class="card-text"><b>Hora de selección</b>: {{data['evidence']}}</p>
      <p class="card-text"><img src="/static/images/{{data['image']}}" alt="Imagen no disponible" height="130" width="130"/></p>
      <a href="/events/logout" class="btn btn-primary">Continua aquí</a>
    </div>
  </div>
      

{% endblock %}