{% extends "base.html" %}
{% block usuario %}{{ session['user'] }}{% endblock %}
{% block content %}    
    <div class="form-check form-check-inline">
        <h1>Listado de Sorteos</h1>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/drawinput" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Nuevo sorteo</a>
    </div>
    

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Evento</th>
            <th scope="col">Fecha</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
            <!-- <th scope="col">&nbsp;</th> -->
        </tr>
        </thead>
        <tbody>
        {% for draw in draws %}
            <tr>
                <th scope="row">{{ draw['id'] }}</th>
                <td>{{ draw['title'] }}</td>
                <td>{{ draw['fordate'] }}</td>
                
            <td><button type="button" class="btn btn-warning" onclick="{{ "javascript:location.replace('/drawinput/{}')".format(draw['id']) }}" >Editar</button></td>
            <td><button type="button" class="btn btn-warning" onclick="{{ "javascript:location.replace('/drawparticipants/{}')".format(draw['id']) }}" >Participantes</button></td>
            <td><button type="button" class="btn btn-warning" onclick="{{ "javascript:location.replace('/drawgifts/{}')".format(draw['id']) }}" >Regalos</button></td>
            <!-- <td><button type="button" class="btn btn-danger">Eliminar</button></td> -->
            </tr>
        {% endfor %}
        </tbody>
    </table>  

{% endblock %}
