{% extends "base.html" %}
{% block usuario %}{{ session['user'] }}{% endblock %}
{% block content %}    
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
    {% for category, msg in messages %}
      <div class="alert alert-{{category}}" role="alert">
        <p>{{msg}}</p>
      </div>
    {% endfor %}
{% endif %}
{% endwith %}
    <div class="form-check form-check-inline">
        <h1>Premios disponibles</h1>        
    </div>
    
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Premio</th>
        </tr>
        </thead>
        <tbody>
        {% for draw in draws %}
            <tr>
                <th scope="row">{{ draw['id'] }}</th>
                <td><button type="button" class="btn btn-warning" onclick="{{ "javascript:location.replace('/drawpublish/{}')".format(draw['id']) }}" >Publicar</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>  

{% endblock %}
